.main {
  display: flex;
  background-color: rgb(54, 53, 53);
  height: 100dvh;
  width: 100%;
  overflow: hidden;

  position: relative;
}

.sidechat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* COMPONENTE HeaderChat */
.headerChat {
  background-color: #040B15;
  flex: 1;
  padding: .5em .8em;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.logoContainer {
  /* background-color: aqua; */
  width: 190px;
}

.logoBanquea {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconContainer {
  width: 33px;
  height: 33px;
  border: 1px solid var(--letra-color);
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--grey-color);
}



.chatContainer {
  /* background-color: saddlebrown; */
  background-color: #040b159f;
  flex: 14;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border: 1px solid blue; */
}

.chatMessagesContainer {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 0.5em;
  flex: 1;
  /* border: 1px solid white; */
}

.chatMessages {
  /* border: 1px solid black; */
  padding: 0.5em 0.4em;
  width: 70%;
  height: auto;
  max-width: 768px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.messageRow {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  /* width: 600px; */
  /* justify-content: flex-end; */
}

.messageRow.user {
  justify-content: flex-end;
  
}

.message {
  max-width: 80%;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-size: 0.95rem;

  /* border: 1px solid #15DB95; */
}
.message.bot {
  /* background-color: #6B7280; */
  color: var(--letra-color);
  align-self: flex-start;
  line-height: 1.8;
}

.message.user {
  background-color: var(--green-color);
  color: #000000;
  color: var(--header-color);
  align-self: flex-end;
}


/* Avatar circular */
.avatar {
  background-color: #323232;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--letra-color);
  flex-shrink: 0;
}

.icons {
  /* border: 1px solid white; */
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-size: 1.1em;
}

.icons div {
  /* border: 1px solid white; */
  background-color: var(--grey-color);
  padding: 0 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.bot {
  align-self: flex-start;
  line-height: 1.8;
}

@media (width <= 985px) {
  .chatMessages {
    width: 80%;
  }
}

@media (width <= 500px) {
  
  .chatMessages {
    width: 100%;
  }
  
}








