.section {
    /* border: 1px solid brown; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
}

.container {
    /* border: 1px solid wheat; */
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.containerIcon {
    /* border: 1px solid blanchedalmond; */
    font-size: 3em;
}

.containerInput {
    /* margin-bottom: 1em; */
}

.input {
    width: 300px;
    padding: .5em .8em;
    font-size: 1.1em;
    border-radius: .5em;

    outline: none;
    letter-spacing: 2px;
}


.text {
    /* border: 1px solid white; */
    text-align: center;
    font-size: 1.1em;
}

.textIcorrect {
    color: crimson;
}

.button {
    padding: .5em 1em;
    font-size: 1.1em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    background-color: var(--green-color);
    color: black;
    font-weight: 500;
}