.sidebar {
  /* flex: 1; */
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  height: 85dvh;
  width: 330px;
  transition: width 0.5s ease;
  overflow: hidden;

  position: absolute;
  top: 70px;

}

.article {
    /* border: 1px solid greenyellow; */
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: hidden; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 1px solid whitesmoke; */

}

.header {
    text-align: center;
    flex: 0 0 auto;
    /* border-bottom: 1px solid var(--grey-color); */
}

.containerTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 1em;
    /* overflow-y: scroll; */
    flex: 1 1 auto;
    /* border: 1px solid red; */
}






.sidebarHidden {
    width: 0;
}



.headerTitle {
    font-size: 1.7em;
    padding-top: .3em;
    padding-bottom: .5em;
    /* position: fixed; */
    /* z-index: -12; */
}


.title {
    min-width: 300px;
    width: 100%;
    background-color: var(--title-color);
    border-radius: 1.1em;
    padding: .5em 1em;
    text-decoration: none;
    color: whitesmoke;
    font-size: .9em;

    transition-property: background-color;
    transition-duration: .4s;
}

.title:hover {
    background-color: var(--grey-color);
}

@media (width <= 450px) {
    .sidebar {
        border-top-right-radius: .8em;
        border-bottom-right-radius: .8em;
    }
}